In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('share-of-people-who-think-homosexuality-is-never-justified.csv')

In [14]:
# Create a subset of countries and years from the viz
countries = ['United States', 'Spain', 'United Kingdom', 'Sweden', 'Netherlands']
years = [1984, 2022]

df = (df.loc[(df['Entity'].isin(countries)) & (df['Year'].isin(years)),
 ['Entity','Homosexuality: Never justifiable (aggregate)']])

df

             Entity  Homosexuality: Never justifiable (aggregate)
408     Netherlands                                     33.899180
413     Netherlands                                      6.166164
571           Spain                                     69.569140
577           Spain                                     19.083520
583          Sweden                                     48.008380
589          Sweden                                      8.707586
637  United Kingdom                                     60.518560
642  United Kingdom                                     14.545360
644   United States                                     75.131120
650   United States                                     28.094130